<div class="container">
    <h1 class="header">SHOP FOR HOME</h1>
    <h3 class="para">Excited to Get Products For Your Home! <i class="fa fa-truck"
            aria-hidden="true"></i>..................</h3>
    <h4 class="info"><a routerLink="/login">Login/Register To Continue <i class="fa fa-level-up" aria-hidden="true"></i></a></h4>
</div>

<div class="cont-1">

    <img class="img-1" src="/assets/home images/home-page-pic-1.jpg">&nbsp;
    <h2 class="font-1">
        <br><br><br><br><br>
        “What makes us different is that my wife and I are obsessive about human beings making things by hand. Of course
        we prize good design, and skilled craftsmanship, and beautiful materials, but we have an added thing here which
        is the human sense, the feeling you get when you walk up to piece of furniture that somebody made. You can see
        that it’s handmade, and you can feel the difference.”
    </h2>
</div>

<div class="cont-2">

    <img class="img-2" src="/assets/home images/home-page-pic-2.jpg">
    <h2 class="font-2">
        <br><br><br><br><br><br><br><br><br><br><br>
        “What makes us different is that my wife and I are obsessive about human beings making things by hand. Of course
        we prize good design, and skilled craftsmanship, and beautiful materials, but we have an added thing here which
        is the human sense, the feeling you get when you walk up to piece of furniture that somebody made. You can see
        that it’s handmade, and you can feel the difference.”
    </h2>


</div>