<ng-container *ngIf="product.length != 0">
    <div style="text-align: center;">
        <h1 style="font-family: 'Times New Roman', Times, serif;"><strong>Your Orders</strong></h1>
    </div>
    <div class="container">
        <div class="card-table">
            <div class="cart-product">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>Product Name</th>
                            <th>Product Image</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                        </tr>

                    </thead>
                    <tbody>

                        <tr *ngFor="let item of product; let i = index">

                            <td *ngIf="item.user.userName == userName">{{i+1}}</td>
                            <td *ngIf="item.user.userName == userName">{{item.product.productName}}</td>
                            <td *ngIf="item.user.userName == userName"><img style="width:120px"
                                    src="/assets/images/{{item.product.productImageLink}}"></td>
                            <td *ngIf="item.user.userName == userName">{{item.product.productDescription}}</td>
                            <td *ngIf="item.user.userName == userName">₹ {{item.product.productDiscountedPrice}}</td>
                            <td *ngIf="item.user.userName == userName">
                                {{item.quantity}}
                            </td>

                            <td *ngIf="item.user.userName == userName">₹ {{item.total}}</td>

                        </tr>
                        <tr>
                            <td colspan="5"></td>

                            <td><button mat-raised-button class="btn btn-primary" routerLink="/user">Shop More</button>
                            </td>
                            <td><strong>Grand Total: </strong><strong>₹ {{grandTotal}}</strong></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</ng-container>

<ng-container *ngIf="product.length == 0">
    <div class="contaiiner">
        <div class="card">
            <h5 class="card-title">My Cart</h5>
        </div>
        <div class="center">
            <h4>There are no Orders, order Something</h4>
            <h6>Add items to your Bag!</h6>
            <button routerLink="/user" mat-raised-button class="btn btn-primary">Shop Now</button>
        </div>
    </div>
</ng-container>