<mat-toolbar color="md-primary">
  <span style="font-weight: bolder; font-family:cursive;padding:50px ;">
    <i style="font-size: 40px;" class="fas fa-shipping-fast"> Shop For Home</i>
  </span>

  <div class="container">

    <a *ngIf="! isLoggedIn()" style="float: right;" class="f2" routerLink="/login" mat-button color="primary">
      <i class="fa fa-sign-in" style="font-size: 20px;" aria-hidden="true"></i> Login
    </a>
  </div>

  <div class="container">
    <a *ngIf=" isLoggedIn()" style="text-align: right;" class="f1" (click)="logout()" mat-button color="warn">
      Logout <i class="fa fa-sign-out" style="font-size: 20px;" aria-hidden="true"></i>
    </a>
  </div>

  <div class="container">
    <a class="flex-icon-3" style="text-align: right;" *ngIf="! isLoggedIn()" routerLink="/registration" mat-button
      color="primary">
      <i class="fa fa-user-plus" style="font-size: 15px ;" aria-hidden="true"></i> Register
    </a>
  </div>

  <div class="container">
    <a class="flex-icon-4" style="float: right;" *ngIf="userService.roleMatch(['Admin'])" routerLink="/admin" mat-button
      color="primary">
      Dash Board
    </a>
  </div>

</mat-toolbar>